<h1> Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Wiki Tips</p>
    <ul>
      <li>Source Everything</li>
      <li>All users will be able to edit your wiki</li>
      <li>Unreferenced facts may get removed by an admin</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { wiki: @wiki } %>
  </div>
  <% if (@wiki.user == current_user && current_user.premium?) || current_user.admin? %>
    <div class="form-group">
      <p>Add Collaborators</p>
      <%= render partial: 'collaborations/form', locals: { wiki: @wiki } %>
    </div>
    <% if @wiki.users.any? %>
      <div class="form-group">
        <% @wiki.collaborations.each do |collaboration| %>
            <strong><%= collaboration.user.name %></strong> <%= link_to "Remove Collaborator", wiki_collaboration_path(@wiki, collaboration), method: :delete, class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
